h2{
    margin-left: 20px;
}

p{
    margin-left: 25px;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: normal;
    background-color: #007BFF;  
    color: white; 
    border: 1px solid #007BFF;  
    border-radius: 4px;  
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    margin-bottom: 10px;
    margin-left: 5px;
}


button:hover {
    background-color: #0056b3;  
    border-color: #0056b3;  
}

table{
    margin-left: 20px;
    margin-top: 10px;
}